body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

header {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.game-container {
  max-width: 98vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-background {
  width: 90%;
  height: 80%;
  margin-bottom: 15px;
  border-radius: 8px;
  background-image: url("https://wallpaperaccess.com/full/3551101.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.play-btn {
  width: 13rem;
  padding: 10px 5px;
  margin: 8px 0;
  border-radius: 8px;
}

.pokemon {
  position: absolute;
  transition: top 2s, left 2s;
}

.pokemon:hover {
  cursor: grab;
}

.pokemon-container {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.collection h2 {
  margin: 0 25px;
}
.collection-card {
  width: 25%;
  height: auto;
  margin: 10px 15px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 30%;
  height: fit-content;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: azure;
  z-index: 10;
}

.detail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.action-container {
  text-align: left;
}
.close-modal {
  color: blue;
  position: absolute;
  top: 3%;
  right: 2%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 5;
}
