body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

header {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.game-container {
  max-width: 98vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-background {
  width: 90%;
  height: 80%;
  margin-bottom: 15px;
  border-radius: 8px;
  background-image: url("https://wallpaperaccess.com/full/3551101.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.play-btn {
  width: 13rem;
  padding: 10px 5px;
  margin: 8px 0;
  border-radius: 8px;
}

.pokemon {
  position: absolute;
  transition: top 2s, left 2s;
}

.pokemon:hover {
  cursor: grab;
}
