body {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  background-color: #2d2c2c;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px 15px 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  color: #ffec44;
  text-shadow: 2px 2px 2px #1822ff;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 78px;
}

.game-container {
  max-width: 98vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-background {
  width: 90%;
  height: 80%;
  margin-bottom: 40px;
  border-radius: 8px;
  background-image: url("https://wallpaperaccess.com/full/3551101.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.play-btn {
  width: fit-content;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #ff0000;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #2d2c2c;
  transition: all ease 500ms;
}

.play-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pokemon {
  position: absolute;
  transition: top 2s, left 2s;
}

.pokemon:hover {
  cursor: grab;
}

.pokemon-container {
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.collection h2 {
  margin: 0 25px;
  color: #f9f9f9;
  letter-spacing: 20px;
  text-align: center;
  font-size: 62px;
}

.collection img {
  width: 45px;
  height: auto;
}
.collection-card {
  width: 25%;
  height: auto;
  margin: 10px 15px;
}

.collection-card:hover {
  cursor: pointer;
}

.poke-name {
  color: #f9f9f9;
  letter-spacing: 8px;
  font-size: 22px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 35%;
  height: fit-content;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  z-index: 10;
}

.poke-modal-card {
  letter-spacing: 3px;
}

.basic-info h2 {
  font-size: 36px;
  letter-spacing: 8px;
}

.basic-info img {
  width: 225px;
  height: auto;
}
.detail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.detail-info h4 {
  font-size: 18px;
}

.action-container {
  text-align: left;
}

.egg-groups p {
  font-size: 45px;
}
.close-modal {
  color: blue;
  position: absolute;
  top: 3%;
  right: 2%;
  background-color: #f9f9f9;
  border-style: none;
  font-size: 18px;
}

.close-modal:hover {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 5;
}
